doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/css/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.blueberry
    .row
      .col.s12.m12.l12.no-padding.center
        h1.courier-new-text.fittext-compress.pomegranate-text.baffle-longer L.A.G.
        h2.courier-new-text.fittext-compress.peach-text.pool-water-text-shadow.baffle-prolonged SoundBoard
    hr.cut-light
    .row
      .container.confortable
        block content
    .scroller-wrap.sticky-bottom#footer
      .scroll-left
        .scroll-item.peach-plum= '© 2018 Eduardo Bilk. All rights reserved.  '
        
  block scripts
    
    script(src="/js/modules/jquery.js")
    script(src="/js/modules/brutalist.js")
    script(src="/js/modules/start.brutalizing.js")
    script(src="/dist/App.bundle.js")
    