doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/css/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    p.comic-sans-text.spinach-carrot Yeah, work.
  block scripts
    script(src="/dist/App.bundle.js")