extends layout

include mixins/_stickyAddButton
include mixins/_addForm
include mixins/_soundCard

block content
  
  +addForm()
  .wrapper
    each audio in audios
      +soundCard(audio)
  +stickyAddButton()