mixin addForm()
  .modal#add-form
    .modal-content.platinum
      .modal-head
        h3 Add a new audio to the board
      .modal-content.vanilla-bean
        form(action=`/add/` method="POST" class="card" enctype="multipart/form-data")
          .row
            .col.s6.m6.l6
              label(for="title") Title
              input(type="text" name="title")
            .col.s6.m6.l6
              label(for="keyBind") Key
              input(type="text" name="keyBind" )
          .row
            .col.s12.m12.l12.form-group
              label(for='audio') Sound 
              input(type="file" name="audio" id="audio" accept="audio/mp3, audio/wav, audio/mpeg")
          input(type="submit" value="ADD").medium-btn.green.white-text.glitch.text-right
      .modal-footer
        a(href="/").btn.chocolate.wheat-text.text-left close
        
    .overlay.lemon