mixin soundCard(audio = {})
  div( class="eggplant banana-text lucida-text heavy key" data-key=audio.keyCode) 
    kbd= audio.keyBind.toUpperCase()
    span.audio= audio.title
  audio(src=`/public/uploads/${audio.audio}`)&attributes({'data-key': audio.keyCode})
  